body {
    background-image: url("../images/results.jpg");
    background-repeat:no-repeat;   
    background-size:cover;
    
}

div {
   height: 50vh;
   width: 40%;
   position:fixed;
   left:35%;
   bottom:20%;
   background-color: rgba(229, 89, 52, 0.8);
   font-size:3vw;
}


